.genre-page {
    padding: 30px 0 30px 0;
}
.genre-title {
    font-size: 37px;
}
.films-back {
    cursor: pointer;
}
.title-films-block .films-back svg path:hover {
    fill: #a6a6a6;
}
@media screen and (max-width: 768px) {
    .title-films-block .films-back svg {
        height: 20px;
        width: 20px;
    }
    .title-genre {
        font-size: 30px;
    }
}
