@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --purple: #6a5dc2;
    --darkBtn: rgb(33, 33, 33);
    --secondaryDark: #232323;
    --secondaryPurple: #6049ff;
    --loading-grey: #ededed;
}

body {
    background-color: #0A0B0B;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

.main-container {
    width: 1600px;
    margin: 0 auto;
}

button, input {
    background: none;
    outline: none;
    border: none;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.my-node-enter {
    opacity: 0;
}

.my-node-enter-active {
    opacity: 1;
    transition: opacity 0.5s;
}

.my-node-exit {
    opacity: 1;
}

.my-node-exit-active {
    opacity: 0;
    transition: opacity 0.5s;
}

.container {
    display: none;
}

h4 {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 100%;
    }

    .container {
        display: block;
    }
}