.card {
    width: 270px;
    height: 400px;
    background-image: url("https://i.pinimg.com/236x/ed/7a/c8/ed7ac8ff46227e184f86c9eb7281cb5a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    box-shadow: 0px 0px 135px rgba(106, 93, 194, 0.41);
    border-radius: 15px;
}
.card:hover {
    transform: scale(1.02);
    transition: transform 0.7s;
}
.counterTop {
    background-color: #FFFFFF;
    color: #6A5DC2;
    width: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-weight: bold;
    height: 40px;
    align-items: center;
    position: relative;
    top: -10px;
    left: -20px;
}
