.film-card img {
    width: 281px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}
.film-card {
    position: relative;
}
.film-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    filter: drop-shadow(0 -0mm 4mm rgb(160, 0, 210));
    transition: all 0.3s ease-in-out;
}
.top-film-card {
    position: absolute;
    background: white;
    color: var(--purple);
    padding: 10px 25px 10px 25px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    top: -20px;
    left: -20px;
}