.footer-title {
    font-weight: 600;
}
.privacy {
    color: #FFFFFFB2;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-main {
    display: flex;
}

.network-footer {
    outline: 1px solid #FFFFFFCC;
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    width: 35px;
    border-radius: 10px;
}

.network-footer:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .footer {
        display: block;
        position: relative;
        bottom: -300px;
    }
    .footer-main {
        display: block;
    }
}