.footer-title {
    font-weight: 600;
}
.privacy {
    color: #FFFFFFB2;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-main {
    display: flex;
}

@media screen and (max-width: 768px) {
    .footer {
        display: block;
    }
    .footer-main {
        display: block;
    }
}