.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://pic.fullrest.ru/ixzc7Cid.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 500px;
    padding: 0 45px 0 45px;
    border-radius: 15px;
}
.title {
    font-size: 45px;
    font-weight: bold;
    margin-top: 15px;
}
.description {
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 15px;
}
.containerTitle {
    width: 55%;
}
.info {
    display: flex;
    gap: 15px;
}
.rating {
    background-color: #308E21;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}
.item {
    color: #FFFFFFB2;
}
.button {
    background-color: #6A5DC2;
    padding: 10px;
    border-radius: 50px;
    width: 19%;
    height: 50px;
    font-weight: bold;
}
.buttons {
    display: flex;
    gap: 15px;
}
.secondButton {
    background-color: #393B3C;
    width: 100%;
}
.thirdButton {
    background-color: #393B3C;
    width: 70px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.button:hover {
    box-shadow: 0px 0px 15px #a696ff;
    transition: box-shadow 0.4s;
}
.thirdButton:hover {
    box-shadow: 0px 0px 15px #a696ff;
    transition: box-shadow 0.4s;
}
.test {
    height: 1000px;
}
.starContainer {
    display: flex;
    align-items: center;
}
.titleTop {
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 25px;
    }

    .containerTitle, .mainButton {
        width: 100%;
    }
}