.random-film {
    height: 600px;
    display: flex;
    align-items: center;
}

.rating-film {
    border-radius: 16px;
    padding-left: 15px;
    display: flex;
    height: 25px;
    align-items: center;
    padding-right: 15px;
}

.bad-rating {
    background: #C82020;
}

.normal-rating {
    background: #777777;
}

.good-rating {
    background: #3f9811;
}

.great-rating {
    background: #A59400;
}

.stats-text {
    color: #FFFFFFB2;
    font-size: 19px;
}

.main-title-film h2 {
    font-weight: bold;
    font-size: 45px;
}

.description-film {
    font-size: 20px;
    color: #FFFFFFB2;
}

.dark-btn {
    background: var(--darkBtn);
}

.purple-btn {
    background: var(--purple);
}

.dark-btn, .purple-btn {
    border-radius: 50px;
    font-size: 17px;
    padding: 12px 30px 12px 30px;
}

.dark-btn:hover {
    background: var(--secondaryDark);
    transition: background 0.3s;
}

.purple-btn:hover {
    background: var(--secondaryPurple);
    transition: background 0.3s;
}

.purple-btn:hover, .dark-btn:hover {
    transform: scale(1.02);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px;
}


@media screen and (max-width: 768px) {
    .random-film {
        position: relative;
        bottom: -90px;
    }
    .wrapper {
        height: 250px;
    }

    .top {
        position: relative;
        bottom: -300px;
    }

    .dark-btn, .purple-btn {
        border-radius: 50px;
        font-size: 17px;
        padding: 10px 30px 10px 30px;
    }
    .trailer-btn {
        width: 100%;
    }
    .rating-film {
        border-radius: 150px;
    }

    .stats-text {
        color: #FFFFFFB2;
        font-size: 16px;
    }
    .main-title-film h2 {
        font-weight: bold;
        font-size: 34px;
    }

}