.navigation-profile span{
    font-size: 17px;
}
.button-log-out, .button-edit {
    background: var(--purple);
    border-radius: 25px;
    width: 300px;
    height: 45px;
}
.button-log-out:hover, .button-edit:hover {
    background: var(--secondaryPurple);
    transition: background 0.2s ease;
}
.profile-avatar {
    border-radius: 50%;
    background: var(--darkBtn);
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.profile-info {
    height: 45px;
}
.user-data {
    font-weight: bold;
}
.profile-avatar img {
    height: 45px;
    width: 45px;
}
.auth-helper {
    text-decoration: underline;
    color: var(--purple);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    @media screen and (max-width: 768px){
        .button-log-out, .button-edit {
            width: 95%;
        }
    }
}