.modal {
    color: black;
}
.modal-header {
    display: flex;
    justify-content: center;
}
.btn-modal {
    top: -55px;
    position: relative;
    right: -467px;
}
.modal-title {
    background: -webkit-linear-gradient(150deg, #7c69f8, #d537ff);
    -webkit-background-clip: text;
    font-weight: 500;
    font-size: 25px;
    -webkit-text-fill-color: transparent;
}