.header {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 150px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(150deg, #6A5DC2 10%, #DC5DFC 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    width: 500px;
    background: #393B3C;
    padding: 7px;
    padding-left: 15px;
    border-radius: 7px;
}

.item {
    text-decoration-color: #DC5DFC;
}
.active {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 10px;
    text-decoration-color: #DC5DFC;
}

.item:hover  {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 10px;
    text-decoration-color: #DC5DFC;
    text-shadow: rgba(255, 0, 194, 0.77) 0 0 5px;
    /* transition: text-decoration 22.5s ease-in-out 22.5s, 
    text-underline-offset 22.5s ease-in-out 22.5s; */
}
